body{
    font-family: Century Gothic,Khmer OS Content !important;
}
.welcome-bg{
    background-image: url('../images/turbotech.png');
    background-repeat: no-repeat;
    background-position: center;
    /* opacity: 0.5; */
}
.div_animation{ /* Div Animation for <P> menu */
    overflow: hidden; /* hidden when slide */
    width: 90%;
    display: inline-block;
    margin:0;
    /* top:10px; */
    position: relative;
}
.div_animation .nav_animation { /* Class animation menu */
    position: relative;
  }
  .div_animation .nav_animation:hover {
    animation: CSSright linear 5s infinite;
  }
  @-webkit-keyframes CSSright {
    0% {text-indent: 10%;}
    100% {text-indent: -100%;}
  }
  .title-menu-main{
      font-size: 0.95rem;
      font-family: Century Gothic,khmer OS Content !important;
  }

#nav_main_app{
    /* border: 2px solid;
    border-image: linear-gradient(rgb(0,143,104), rgb(250,224,66)) 1; */
    border: 2px solid transparent;
    /* border-radius: 80px; */
    /* background-image: linear-gradient(white, white), linear-gradient(to right, blue,indigo,violet); */
    background-origin: border-box;
    background-clip: content-box, border-box;
    width: 35px;
    height: auto;
}
/* .layout-navbar-fixed .wrapper .logo-link{
    overflow: hidden;
    top:0;
    position: absolute;
    z-index: 1035;
}
.logo-link{
    display: block;
    font-size: 1.25rem;
    line-height: 1.5;
    white-space:nowrap;
} */
.logo-image{
    opacity: .8;
    margin-left:29%;
    /* width: 60%; */
    height: 50px;
}
.bar-link i{
    color: #1fa8e0;
}
/**** Style Welcome Page  ****/
#img_profile_company{
    width: 50vh;
    height: 10vh;
}
.profile-pic{
    height: auto;
    /* margin-left: 10px;
    margin-top: 30px;
    margin-bottom: 15px; */
}
#flower-img{
    position: absolute;
    top:-8px;
    left:-8px;
    height: 50px;
    width: 70px;
    /* rotate: 140deg; */
    transform: rotate(140deg);
}
#flower-img1{
    position: absolute;
    bottom:-4px;
    right:-14px;
    height: 50px;
    width: 70px;
    /* rotate: 300deg; */
    transform: rotate(300deg);
}
#row_welcome{
    position: absolute;
    width: 100%;
    height: 100%;
}
/* @media only screen and (min-width: 350px) and (max-width: 660px) {
    #row_welcome{
        display: none;
    }
    } */
@media only screen and (min-width: 1100px) {
        .bar-link{
            display: none;
        }
}


 /* style use for employee profile */

 .profile_user {
    max-width: 150px;
    height: 200px;
    max-height: 210px;
    border: 1px solid #1fa8e0;
    border-radius: 2px;
    /* display: block; */
}

.file-upload {
    display: none;
}
.MyPfFrame {
    margin: auto;
    width: 150px;
    height: 200px;
    /* border:1px solid #d42931;#f4f6f9; */
    margin-top: 2%;
    overflow: hidden;
}
.MyPfFrame:hover .upload-button .pen-hover{
    display: block;
    overflow: hidden;
}
.pen-hover{
    padding: 0 !important;
    width: 100%;
    margin-top:-20%;
    height: 50px;
    display: none;
    position: relative;
    transition: all .1s ;
    color: white;
    background-color: #000000b5;
    cursor: pointer;
    z-index: 2;
    overflow: hidden;
}
.upload-button {
  font-size: 1.2em;
  color: #00000000;
  background: #00000000;
}

.upload-button:hover {
    cursor: pointer;
}

@media screen and (min-width: 1199px) {
    .pen-hover{
        margin-top: -17% !important;
    }
}
@media screen and (max-width: 1199px) {
    .pen-hover{
        margin-top: -16% !important;
    }

}

@media screen and (max-width: 991px) {

    .pen-hover{
        margin-top: -10% !important;
    }
}

@media screen and (max-width: 767px) {

    .pen-hover{
        margin-top: -10% !important;
    }
}

.os-padding { z-index: auto !important; }
.os-theme-dark>.os-scrollbar>.os-scrollbar-track>.os-scrollbar-handle{
    background: #1fa8e0;
}
.os-theme-dark>.os-scrollbar>.os-scrollbar-track>.os-scrollbar-handle:hover{
    background: #d42931;
}
.os-theme-dark>.os-scrollbar>.os-scrollbar-track>.os-scrollbar-handle.active{
    background: #d42931;
}
.os-theme-light>.os-scrollbar>.os-scrollbar-track>.os-scrollbar-handle:hover{
    background: #d42931;
}

.os-theme-light>.os-scrollbar>.os-scrollbar-track>.os-scrollbar-handle.active{
    background: #d42931;
}

    /* ========-Class For Company Color -======== */

    .back-color-blue {
        background-color: #1fa8e0;
        color: white;
        position: relative;
    }

    .back-color-blue:hover {
        background-color: #159ed4;
        color: white;
        position: relative;
    }

    .back-color-blue:active {
        background-color: #159ed4;
        color: white;
        position: relative;
    }

    .back-color-blue:link {
        background-color: #159ed4;
        color: white;
        position: relative;

    }





    .back-color-red {
        background-color: #d42931;
        color: white;
        position: relative;
    }

    .back-color-red:hover {
        background-color: #c52931;
        color: white;
        position: relative;
    }

    .back-color-red:active {
        background-color: #c52931;
        color: white;
        position: relative;
    }

    .back-color-red:link {
        background-color: #c52931;
        color: white;
        position: relative;
    }


    .color-blue {
        color: #159ed4;
        font-weight: 600;
    }

    .color-red {
        color: #c52931;
        font-weight: 600;
    }

    .color-bluelight {
        color: #12b9d6;
        font-weight: 600;

        /* color: rgb(125, 105, 11);
        color: rgb(145, 205, 66);
        color: rgb(54, 162, 235);
        color: rgb(75, 102, 42);
         color: rgb(255, 205, 86);
         color: rgb(255, 99, 132) ;
        color: rgb(105, 155, 16); */

    }









.moLoadingClass{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2048;
    width: 100vw;
    height: 100vh;
    display: block;
    background-color: rgba(255, 255, 255, 0.5);
}
