.w-50{width: 50% !important;}
.mg-left-10{margin-left: 10px !important;}
.mg-t-20{margin-top: 20px;}
.pdd-l-10{padding-left: 10px !important;}
.pdd-l-20{padding-left: 20px !important;}
.pdd-r-10{padding-right: 10px !important;}
.pdd-r-100{padding-right: 100px !important;}
.pdd-t-50{padding-top: 50px !important;}
.conatainer{
    max-width: 1148px;
}
.namecompany{
    color:#1fa8e0;
}
.right{
    text-align: right;
}
.left{
    text-align: left;
}
.center{
    text-align: center;
}


/* .expried_intership */

.top-header{
    width: 100%;
    border: none;
}
.top-header tr td{
    border: none;  

}
.expried_internship{
    border: none;
    width: 100%;

}
.expried_internship tr td{
    border: none;
    font-size: 15px;
    line-height: 25px;
}
.copy{
    width: 100%;
    border: none;
    
}
.copy tr td{
    border: none;
    font-size: 12px;
    padding-left: 60px;
    height: 25px;
}
/* /.expried_intership */

/* complaint_report */

.complaint_report{
    width: 100%;
    font-size: 15px;
    border: none;
}

/* mistake_form */

.heading{
    font-size: 12pt;
}

.heading h3{
    margin-bottom: 0px;
}
h3{
    margin: 2px;
}
p{
    font-size: 11pt;
    margin-bottom: 5px;
}
.p_text p{
    margin-top: 0;
    margin-bottom: 5px;
}

.logo_heading h2{
    font-size: 25px;
    text-align: center;
    color:  #1fa8e0;
}
.logo_heading h3{
    font-size: 19px;
    text-align: center;
    color:  #1fa8e0;
}
.footer{
    border-top: 2px solid #1fa8e0;
    font-size: 10px !important;
    
    
}
.signature{
    text-align: right; 
}
.signature p{
    margin-top: 0;
    margin-right: 20px;
}
.signature_box{
    border: 2px dotted rgb(211, 208, 10);
    width: 120px;
    height: 120px;
    margin-left: 500px;
}


.reminder{
    margin: 0;
    font-size: 9pt; 
    font-style: italic;
    text-align: center;
}
/* /mistake_form */


/* spend_eating_form */
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    text-align: left;
    width: 180px;
    height: 40px;  
}
thead tr th{
    height: 60px;
}
.spend_eating{
    width: 100%;
    text-align: center;
    height: 35px;
    
}
.spend_eating tr td{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    font-size: 15px;
}
.footer_eating{
    border-top: 2px solid #1fa8e0;
    margin-top: 110px;
}

/* /spend_eating_form */

/* /report_calculate_commission */
.commission{
    border: 1px solid black;
    border-collapse: collapse;
    height: 35px;
    text-align: center;
    width: 100%;
}
.commission tr td{
    border: 1px solid black;
    border-collapse: collapse;
    height: 35px;
    text-align: center;
}
.commission_footer{
    width: 100%;
    border: none;
}
.commission_footer tr td{
    border: none;
    font-size: 14px;
    text-align: center;

}

/* .footer_commission{
    border-top: 2px solid black;
    border-collapse: collapse;
    margin-top: 150px;
} */


/* training_checking_list*/
.training_checking_list_staff{
    width: 100%;
}
.training_checking_list_staff tr td{
    height: 30px;
    border: 1px solid black;
    border-collapse: collapse;
    text-align: left;
    
}
.training_checking_list{
    width: 100%;
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
}
.training_checking_list tr td{
    height: 30px;
    text-align: center;
    font-size: 15px;
    border: 1px solid black;
    border-collapse: collapse;
} 
.footer_training{
    border-top: 2px solid #1fa8e0;
    margin-top: 110px;
}

/* training_request_proposal */
.training_request tr td{
    height: 30px;
    width: 450px;
    text-align: right;
    border: 1px solid black;
    border-collapse: collapse;
}
.staff_training_request tr td{
    border: 1px solid black;
    border-collapse: collapse;
    height: 30px;
    text-align: center;
    
}
.staff_training_request{
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
}

.pdd-top-10px{
    padding-top: 15px;
}

.border-top{
    border-top: 2px solid #1fa8e0;
    word-wrap: none !important;
    grid-row: 1 / 2;
}
.text-right{
    text-align: right  !important;
    font-size: 10px !important;
    font-weight: bold;
}
.text-left{
    text-align: left  !important;
    font-weight: bold;
    font-size: 10px !important;
    
}

.text-indent-2rem{
    text-indent: 2rem;
}
.heading p{
    margin-top: 5px;
}



/* warning_employee */

.copy_to p{
    font-size: 13px;
    margin: 0;
}
.warning_employee tr,td{
    border: none;
    height: 30px;
}
.warning_employee{
    width: 100%; 
    text-align: left;
    border:none;
}

/* change_history */

.change_history_header{
    border-bottom: 2px solid #1fa8e0;
    font-size: 10px !important;
}

.change_history_table{
    width: 100%; 
    text-align: center; 
}
.change_history_table th,td{
    padding: 0;
    text-align: center;
    
    font-weight: normal;
}

/* meetting_note */

.heading_text p{
    font-size: 15px;
}
.meeting_join_name tr,td{
    text-align: left;
}
.meeting_join_name{
    border: none;
}
.meeting_signature{
    width: 100%;
    border: none;
    
}
.meeting_signature td{
    border: none;
    width: 50%;
    text-align: center;
    height: 150px;
}

/* staff_note */

.staff_info{
    border: 1px solid black;
    border-collapse: collapse; 
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;  
}

.staff_info tr td{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: right;
    font-size: 16px;
    height: 35px;
}
.staff_note{
    border: 1px solid black;
    border-collapse: collapse; 
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
}
.staff_note tr td{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    font-size: 15px;
    padding: 0;
    height: 30px;
}
.summary{
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
    line-height: 25px;
}
.summary tr td{
    padding-left: 10px;
    font-size: 15px;
    
}

/* survey staff exit */

.survey_staff_info{
    width: 100%;

}
.survey_staff_info tr td{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: left;
    font-size: 14px;
    height: 30px;
}
.staff_question_exit{
    border: 1px solid black;
    border-collapse: collapse; 
    width: 100%;
}
.staff_question_exit tr td{
    border: 1px solid black;
    border-collapse: collapse;
    font-size: 14px;
    height: 30px;
    text-align: center;
}
.survey_signature{
    width: 100%;
    border: none;
    margin-top: 20px;
}
.survey_signature tr td{
    height: 25px; 
    border: none;
}

/* training_need_analysis */
.training_analysis_staff_info{
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
    
}
.training_analysis_staff_info tr td{
    border: 1px solid black;
    border-collapse: collapse;
    font-size: 14px;
    height: 30px;
    text-align: left;
    padding-left: 10px;
}
.training_analysis{
    width: 100%;
    border: none;
}
.training_analysis tr td{
    border: none;
    font-size: 14px;
    height: 30px;
    text-align: left;
    padding-left: 10px;
}
.training_analysis_heading{
    text-indent: 10px;
}


/* new_staff */

.new_staff{
    border: 1px solid black;
    border-collapse: collapse; 
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;   
}
.new_staff tr td{
    border: 1px solid black;
    border-collapse: collapse;
    font-size: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    height: auto;
    line-height: 25px; 
}


/* personal_file_check_list */
.w-50{width: 50% !important;}
.mg-left-10{margin-left: 10px !important;}
.pdd-l-10{padding-left: 10px !important;}
.pdd-l-20{padding-left: 20px !important;}
.pdd-r-10{padding-right: 10px !important;}
.pdd-r-100{padding-right: 100px !important;}

.personal_file_check_list{
    border: 5px solid #4a6594;
}
.personal_file{
    width: 100%;
    border: none;
}
.personal_file tr td{
    border: none;
    font-size: 15px;
    padding-left: 10px;
    height: 30px; 
}
.personal_file_footer{
    margin-bottom: 10px;
    margin-left: 10px;
}
.personal_file_footer p{
    width: 200px;
    border: 2px solid black;
    padding: 5px;
}

/* font standard */
.font_standard{
    width: 100%;
    border: none;
}
.font_standard tr td{
    border: none;
    font-size: 15px;
    line-height: 25px;
}
.meeting_note{
    line-height: 25px;
}

