.hrm-title strong{
    font-size: 25px;
    margin-top: 5px;
}
.bg-turbo-color{
    background-color: #1fa8e0;
    color: white;
}
thead tr th{
    text-align: center;
}


.title_promote{
    background-color: powderblue;
    color: blue;
    font-weight: bold;
}
.hrm_dropdown-menu .hrm_item:hover{
    background-color: #1fa8e0;
}