.hrm-title strong{
    font-size: 25px;
    margin-top: 5px;
}
.bg-turbo-color{
    background-color: #1fa8e0;
    color: white;
}
thead tr th{
    text-align: center;
}


.title_promote{
    background-color: powderblue;
    color: blue;
    font-weight: bold;
}
.hrm_dropdown-menu .hrm_item:hover{
    background-color: #1fa8e0;
    
}


.btn-plus {
    background-color: green;
    text-align: center;
    padding-top: 5%;
    padding-left: 5%;
    border-radius: 50%;
    
}

.btn-minus {
    background-color: red;
    text-align: center;
    /* padding-top: 5%; */
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 50%;
    margin-left: 2px;
}

.row_tb_style {
    font-size: 13px;
    padding: 0px;
    text-align: center;
    vertical-align: center;
}